@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    font-weight: 300;
}

.nav-first{
    background-color: rgb(251, 146, 60);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
}

.nav-a:hover{
    background-color: #222;
    color: #efb35b;
}


*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    -webkit-user-drag: none;
  }

.logo-txt{
    font-family: "Hedvig Letters Sans", sans-serif;
    font-style: normal;
    visibility: hidden;
    opacity: 0;
    transition: .1s all linear;
    top: 50%;
    left: 50%;
    color: transparent;
    background: linear-gradient(90deg, #efb45d 0%, rgba(237,126,77,1) 56%, rgba(127,52,139,1) 100%);
    background-clip: text;
    transform: translate(-50%,-50%);
}

.name{
    font-family: "Hedvig Letters Sans", sans-serif;
    font-style: normal;
}

.logo:hover > .logo-txt{
    opacity: 1;
    display: inline-block;
    visibility: visible;
}

.logo img{
    opacity: 1;
    /* display: flex; */
    visibility: visible;
    transition: .1s all linear;
}

.logo:hover > img{
    opacity: 0;
    /* display: none; */
    visibility: hidden;
}

.second-cursor{
    transition: transform .1s linear;
}


.hello::before{
    position: absolute;
    content: '';
    top: 6px;
    right: 6px;
    height: 100%;
    width: 100%;
    background-color: #efb45d;
    z-index: -1;
    transition: .1s all linear;
}

.desc{
    font-family: "Quicksand", sans-serif;
}

.hire{
    transition: all linear .2s;
    overflow: hidden;
}

.hire div img{
    height: 70%;
    width: auto;
}

.hire div{
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .2s;
}

.hire:hover > div{
    height: 35px;
    width: 35px;
}

.hire::before{
    content: "";
    position: absolute;
    height: .1px;
    width: 0%;
    padding-bottom: 4px;
    background-color: rgba(251, 146, 60, 0.79);
    bottom: -2px;
    border-radius: 0;
    left: 0;
    transition: .2s all linear;
}

.hire:hover::before{
    width: 70%;
}

.hire:hover > div img{
    opacity: 1;
}