@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    font-weight: 300;
}

.nav-a:hover{
    background-color: #222;
    color: #efb35b;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    -webkit-user-drag: none;
  }

.logo-txt{
    font-family: "Hedvig Letters Sans", sans-serif;
    font-style: normal;
    visibility: hidden;
    opacity: 0;
    transition: .1s all linear;
    top: 50%;
    left: 50%;
    color: transparent;
    background: linear-gradient(90deg, #efb45d 0%, rgba(237,126,77,1) 56%, rgba(127,52,139,1) 100%);
    background-clip: text;
    transform: translate(-50%,-50%);
}

.name{
    font-family: "Hedvig Letters Sans", sans-serif;
    font-style: normal;
}

.logo:hover > .logo-txt{
    opacity: 1;
    display: inline-block;
    visibility: visible;
}

.logo img{
    opacity: 1;
    /* display: flex; */
    visibility: visible;
    transition: .1s all linear;
}

.logo:hover > img{
    opacity: 0;
    /* display: none; */
    visibility: hidden;
}

.second-cursor{
    transition: transform .1s linear;
}

.image{
    background-image: url(./images/img-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hello::before{
    position: absolute;
    content: '';
    top: 6px;
    right: 6px;
    height: 100%;
    width: 100%;
    background-color: #efb45d;
    z-index: -1;
    transition: .1s all linear;
}


